{% extends 'base.html' %}

{% block title %}Zu tun{% endblock %}

{% block header %}
  <h4>zu tun</h4>
{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class="col s10 offset-s2">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s12">
            <h4>{{ post['title'] }}</h4>
            <div>von {{ post['username'] }} am {{ post['created'].strftime('%Y-%m-%d') }}</div>
            <p class="black-text">
                {{ post['body'] }}
            </p>
            {% if g.user['id'] == post['author_id'] %}
              <a class="action btn-floating btn-large waves-effect waves-light red right-align" href="{{ url_for('blog.update', id=post['id']) }}"><i class="material-icons">edit</i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
{% endblock %}

