{% extends 'base.html' %}

{% block title %}
  Aufgabe {{ post['title'] }} bearbeiten
{% endblock %}

{% block header %}
  <h4>Aufgabe <em>›{{ post['title'] }}‹</em> bearbeiten</h4>
{% endblock %}

{% block content %}
<form method="post">

  <div class="container-fluid">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">title</i>
        <label for="title">Titel</label>
        <textarea name="title" id="title" class="materialize-textarea" value="{{ request.form['title'] }}" required></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">short_text</i>
        <label for="body">Text</label>
        <textarea name="body" id="body" class="materialize-textarea">{{ request.form['body'] }}</textarea>
      </div>
    </div>

    <div class="row">

      <div class="input-field col s6">
        <i class="material-icons prefix">today</i>
        <label for="date">zu erledigen bis...</label>
        <input name="date" id="date" type="text" class="datepicker" value="{{ request.form['date'] }}">
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">access_time</i>
        <label for="time">zu erledigen bis...</label>
        <input name="time" id="time" type="text" class="timepicker" value="{{ request.form['time'] }}">
      </div>

    </div>

    <div class="right-align">
      <button class="btn waves-effect waves-light" type="submit">speichern</button>
      <a class="danger btn red darken-2 waves-effect waves-light" onclick="postDelete('{{ url_for('blog.delete', id=post['id']) }}')">Löschen</a>
    </div>

  </div>
</form>


<form action="" method="post">
</form>

{% endblock %}