{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Einloggen{% endblock %}</h4>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="row">
      <div class="input-field col s12">
    <label for="username">Benutzername</label>
    <textarea name="username" id="username" class="materialize-textarea" required></textarea>
    </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
    <label for="password">Passwort</label>
    <input type="password" name="password" id="password" class="materialize-textarea" required>
    </div>
    </div>
    <button class="btn waves-effect waves-light"  type="submit" value="Log In">Einloggen</button>
  </form>
{% endblock %}